body{
    height: 100%
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #202020
}

.text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(255, 255, 255, 0.7);
    font-family: 'Open Sans', sans-serif;
}

.btn-dark{
    color:white;
}

.btn{
    color:white;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: -1px;
}

a,
a:visited {
    color: white;
    transition: 0.25s;
}



a:hover,
a:focus {
    color: white;
}
