
#third-image{
  border-radius: 20%;
  position: relative;
  left: 250px;
}
#fourth-image{
  border-radius: 10%;
  position: relative;
  left: 260px;
}
#fifth-image{
  position: relative;
  left: 1040px;
  border-radius: 10%; 
}

#sixth-image{
  position: relative;
  left: 400px;
  border-radius: 15%;
}
body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://d4kkpd69xt9l7.cloudfront.net/sys-master/root/h39/h95/9126618693662/razer-blade-15-gallery08.jpg");
/* Set a specific height */
height: 50%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

#a{
	text-align: center;
}
#b{
	text-align: center;
}
* {box-sizing:border-box}

#hometekst{
	text-align: center;
}