body {
  margin: 0;
  padding: 0;
  background: url("../static/image/MacCoffee2.jpg") no-repeat center center
    fixed;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.loginbox {
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border;
  padding: 70px 30px;
  border-color: transparent;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

label {
  font-size: 0;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox button[type="submit"] {
  border: none;
  outline: none;
  height: 35px;
  width: 340px;
  background-color: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  position: center;
  margin-bottom: 5px;
}

.loginbox button[type="submit"]:hover {
  cursor: pointer;
  background-color: #c72121;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}

.alert-danger {
  margin-top: 20px;
  padding: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#errorMessage {
  padding-bottom: 2px;
  text-align: center;
  animation: Slide_Up 1.4s ease;
}

@keyframes Slide_Up{
  0%{
    transform: translateY(250px);
    
  }
  100%{
    transform: translateY(0);
  }
}