body {
    margin: 0;
    padding: 0;
    background: url("../static/image/MacCoffee2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.registerbox { 
    width: 400px;
    height: 525px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border;
    padding: 70px 30px;
    border-color: transparent;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

/* label {
    font-size: 0;
} */


h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox input {
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="email"], input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerbox button[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    width: 340px;
    background-color: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: center;
    margin-bottom: 5px;
}

.registerbox button[type="submit"]:hover {
    cursor: pointer;
    background-color: #c72121;
    

}

.registerbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.registerbox a:hover {
    color: #ffc107;
}

  #errorMessage {
    padding-bottom: 2px;
    text-align: center;
    animation: Slide_Up 1.4s ease;
    margin-top: 10px;
    
  }
  
  @keyframes Slide_Up{
    0%{
      transform: translateY(250px);
      
    }
    100%{
      transform: translateY(0);
    }
  }

ul li {
    list-style: none;
    text-align: center;
}

ul {
    padding: 0;
    padding-bottom: 0px;
    font-size: 12px
}

