{# Laad shared.html in. Werkt een beetje zoals Include in Node.js. #}

{% extends "app/shared.html" %}
{# Laad de statische bestanden, dit is alles in de static folders. #}
{% load staticfiles %}
{# Dit gebied heeft heeft de naam: content #}
{% block content %}

<!--De wow mid factor  -->
<div class="full-width">
    <div id="imagecase" style="height:240px;"> <!--440 was origineel-->
            <section id='showcase'>
            <h1> Voor de beste kwaliteit!</h1>
            <p> Gewoon bij HotBuns </p>
            <p> Nu ook in Django!</p>
        </section>
    </div>
</div>

<!-- Tekst onder Foto -->
<div class = "container">
    <div class="row mt-3">
        <div class = "col-md">
            <div class = "card">
                <div class = "container">
                    <center>
                        <h2> De beste kwaliteit voor de laagste prijs!</h2>
                    </center>
                    <br>
                    <br>
                    <h6>
                    <p>Hier bij HotBuns garanderen wij u de meest kwalitatieve en smaakvolle broden, koeken en zoetigheid.</p>
                    <p>Bij ons bent u nooit alleen. Wij helpen u graag met het kiezen van het perfecte brood.</p>
                        <p>Onze website is volledig uitgerust om al uw bestellingen online af te handelen, zonder dat u de deur ook maar uit hoeft.<br>
                            Daarnaast worden alle bestelde producten persoonlijk bij u bezorgd.
                        </p>
                        <p>Namens ons hele team wensen wij u veel winkelplezier!</p>
                    </h6>                        
                </div>
            </div>
        </div>
    </div>
</div>


{# Hier eindigt het gebied 'content' #}
{% endblock %}





 

