{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post">
    {# Login token ofzo? #}
    {% csrf_token %}
    {#User.username = De username van de ingelogde gebruiker#}
        <a class="nav-link font-weight-bold">Hallo {{ user.username }}</a>
    {#Uitloggen#}
        <a class="nav-link font-weight-bold" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    
</form>

{% else %}

{# Zie het bestand url.py, maar een link op deze manier doen zorgt ervoor dat het altijd de correcte naam heeft. #}
<a class="nav-link font-weight-bold" href="{% url 'login' %}">Log in</a></li>


{% endif %}
