.App {
  text-align: center;
}
.image{
  background-image: url("https://d4kkpd69xt9l7.cloudfront.net/sys-master/root/h39/h95/9126618693662/razer-blade-15-gallery08.jpg");
  background-color: black;
}


